.list{
    background: rgb(24, 23, 23);
    text-align: center;
    padding: 5px;
    color: white;
}

input{
    width: 80%;
    height: 30px;
    margin: 10px;
    color: white;
    background: red;
    border: none;
    cursor: pointer;
}